$container: 1252;
$padding: 30;
$containerWithPadding: $container + ($padding * 2);

$black: var(--black);
$dark-gray: var(--dark-gray);
$light-gray: var(--light-gray);
$blue: var(--blue);
$white: var(--white);
$border: var(--border);